#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "snipeit"
name = "Snipe-IT"
description.en = "Manage assets for IT operations"
description.fr = "Gestionnaire de ressources informatiques"

version = "8.3.4~ynh1"

maintainers = []

[upstream]
license = "AGPL-3.0-or-later"
website = "https://snipeitapp.com"
demo = "https://snipeitapp.com/demo/"
admindoc = "https://snipe-it.readme.io/docs/introduction"
userdoc = "https://snipe-it.readme.io/docs/overview"
code = "https://github.com/snipe/snipe-it"
cpe =  "cpe:2.3:a:snipeitapp:snipe-it"
fund = "https://snipeitapp.com/donate"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "200M"
ram.build = "150M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["de", "en", "fr", "it", "nl", "uk"]
    default = "fr"

[resources]
    [resources.sources]
    [resources.sources.main]
    url = "https://github.com/snipe/snipe-it/archive/refs/tags/v8.3.4.tar.gz"
    sha256 = "803633d5913b2559e6bc766fcb61b564fde9365be4faea06b83f2d8ce6610c5c"
    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "mariadb-server",
        "openssl",
        "php8.4-curl",
        "php8.4-ldap",
        "php8.4-mysql",
        "php8.4-gd",
        "php8.4-xml",
        "php8.4-mbstring",
        "php8.4-zip",
        "php8.4-bcmath",
        "php8.4-redis",
    ]

    [resources.database]
    type = "mysql"

    [resources.composer]
    version = "2.8.11"
